<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static', filename='wow.css')}}">
  <link href="{{url_for('static', filename='textgamestyles2.css')}}" rel="stylesheet">
  <title>Combined Pieces</title>
</head>
<body>
  <div class="vnContainer">
        <canvas id="VNScreen" class="vnScreen"  width="800" height="600"></canvas>
  </div>
  
  <h2><center>Press Z to play</center></h2>
  <center><button onclick="window.location.href = 'http://127.0.0.1:5000/';">Home Page</button></center>
  
  <br>

  <center>
  <div class="container">
    <div id="text">Text</div>
    <div id="option-buttons" class="btn-grid">
      <button class="btn">Option 1</button>
      <button class="btn">Option 2</button>
      <button class="btn">Option 3</button>
      <button class="btn">Option 4</button>
    </div>
  </div>
  </center>
</body>

<script>
var MARGIN_SIDES = 10;
var MARGIN_BOTTOM = 10;
var TEXTAREA_HEIGHT = 150;
var TEXT_MAP = new Map();
var TEXT_MARGIN = 5;
var TEXT_LINE_SPACING = 5;

var roomImage;
var characterImage;
var sampleText = "Hello! This is a test! :D";


//TODO: refactor: maybe make canvas and context global?

function drawTextAreaBackground(canvas){
    let textArea_width = canvas.width - (MARGIN_SIDES * 2);
    
    let textArea_x = MARGIN_SIDES;
    let textArea_y = canvas.height - TEXTAREA_HEIGHT - MARGIN_BOTTOM;


    let ctx = canvas.getContext('2d');
    //background area
    ctx.fillStyle = '#f4e9f5';
    ctx.fillRect(textArea_x, textArea_y, textArea_width, TEXTAREA_HEIGHT);

    //border
    ctx.beginPath();
    ctx.lineWidth = "2";
    ctx.strokeStyle = "black";
    ctx.rect(textArea_x, textArea_y, textArea_width, TEXTAREA_HEIGHT);  
    ctx.stroke();
}

function drawText(canvas, text){

    let ctx = canvas.getContext("2d");
    ctx.font = "30px verdana";
    ctx.fillStyle = 'black';

    let textLineHeight = ctx.measureText(text).fontBoundingBoxAscent + TEXT_LINE_SPACING;
    let canvasHeight = canvas.height;
    let canvasWidth = canvas.width;
    
    createTextObjectIfNeeded(text, ctx, textLineHeight, canvasWidth);

    let textObj = TEXT_MAP.get(text);
    let paragraph = textObj.paragraphs[textObj.paraIndex];

    //draw everything before current line
    for(let i = 0; i < textObj.lineIndex; i++){
        drawTextLine(paragraph[i], ctx, i, canvasHeight, textLineHeight);
    }

    //draw current line
    let partialText = paragraph[textObj.lineIndex].substring(0, textObj.charIndex + 1)
    drawTextLine(partialText, ctx, textObj.lineIndex, canvasHeight, textLineHeight);
}

function drawTextLine(text, ctx, lineIndex, canvasHeight, textLineHeight){
    ctx.fillText(
        text, 
        MARGIN_SIDES + TEXT_MARGIN , //X
        canvasHeight - TEXTAREA_HEIGHT - MARGIN_BOTTOM + ((lineIndex + 1) * textLineHeight)); //Y
}

function createTextObjectIfNeeded(text, ctx, textLineHeight, canvasWidth){
    let maxLines = Math.floor(TEXTAREA_HEIGHT / textLineHeight)
    let maxTextWidth = canvasWidth - (MARGIN_SIDES * 2) - (TEXT_MARGIN * 2);


    if(!TEXT_MAP.has(text)){

        let textObject = new Object;
        TEXT_MAP.set(text, textObject);

        textObject.charIndex = 0;
        textObject.lineIndex = 0;
        textObject.paraIndex = 0;

        textObject.paragraphs = generateParagraphs(text, ctx, maxLines, maxTextWidth);
    }
}


function generateParagraphs(text, ctx, maxLines, maxTextWidth){

    let textSplits = text.split(" ");
    let lineText = "" + textSplits[0];

    let paragraph = new Array();
    let currLineIndex = 0;
    
    
    let paragraphArray = new Array();
    let PA_index = 0;


    for(let i = 1; i < textSplits.length; i++){

        let nextWord = textSplits[i];
        let tempText = lineText + " " + nextWord;
        let tempMesure = ctx.measureText(tempText);
        

        if(tempMesure.width > maxTextWidth){
            if(currLineIndex > maxLines - 1){
                //make new paragraph and new line
                paragraphArray[PA_index++] = paragraph;
                paragraph = new Array(maxLines);

                currLineIndex = 0;
                paragraph[currLineIndex++] = lineText;
                lineText = "" + nextWord;
                
                
            }else{
                //make new line
                paragraph[currLineIndex++] = lineText;
                lineText = "" + nextWord;
                
            }
        }else{
            lineText += " " + nextWord;
        }
    }
    paragraph[currLineIndex] = lineText;
    paragraphArray[PA_index] = paragraph;

    return paragraphArray;
}

function drawTextArea(canvas, text){
    drawTextAreaBackground(canvas);
    drawText(canvas, text)
}

function drawImages(canvas){
    let ctx = canvas.getContext("2d");
    ctx.drawImage(roomImage, 0, 0);
    ctx.drawImage(characterImage, 300, 0);
}

function draw(){
    let canvas = document.getElementById('VNScreen');
    drawImages(canvas);
    drawTextArea(canvas, sampleText);
}

function load(){
    roomImage = new Image();
    characterImage = new Image();

    roomImage.src = "{{url_for('static', filename='background_1.jpeg')}}";
    characterImage.src = "{{url_for('static', filename='man1.png')}}";

    //Load all images before adding keybinds
    //TODO: refactor for multiple images
    roomImage.addEventListener('load', e1 => {
        characterImage.addEventListener('load', e2 => {
            setKeybinds();
        });
    });

}

function setKeybinds(){

    window.addEventListener("keydown", function(event) {
        if (event.defaultPrevented) {
          return; // Do nothing if event already handled
        }
      
        switch(event.code) {
          case "KeyZ":
            draw();
            paragraphAdvance();
            break;
        }
        // Consume the event so it doesn't get handled twice
        event.preventDefault();
      }, true);

}

function paragraphAdvance(){

    let textObj = TEXT_MAP.get(sampleText);
    let paragraphs = textObj.paragraphs;

    let paraIndex = textObj.paraIndex;
    let lineIndex = textObj.lineIndex;
    let charIndex = textObj.charIndex;

    if(charIndex + 1 >= paragraphs[paraIndex][lineIndex].length ){
        if(lineIndex + 1 >= paragraphs[paraIndex].length){
           //new paragraph and new line
           textObj.charIndex = 0;
           textObj.lineIndex = 0;
           textObj.paraIndex++;

        }else{
             //new line
             textObj.charIndex = 0;
             textObj.lineIndex++;

        }
    }else{
        //NO new paragraph OR new line
        textObj.charIndex++;
    }
}

load();
</script>

<script>
	const textElement = document.getElementById('text')
	const optionButtonsElement = document.getElementById('option-buttons')

	let state = {}

	function startGame() {
	  state = {}
	  showTextNode(1)
	}

	function showTextNode(textNodeIndex) {
	  const textNode = textNodes.find(textNode => textNode.id === textNodeIndex)
	  textElement.innerText = textNode.text
	  while (optionButtonsElement.firstChild) {
		optionButtonsElement.removeChild(optionButtonsElement.firstChild)
	  }

	  textNode.options.forEach(option => {
		if (showOption(option)) {
		  const button = document.createElement('button')
		  button.innerText = option.text
		  button.classList.add('btn')
		  button.addEventListener('click', () => selectOption(option))
		  optionButtonsElement.appendChild(button)
		}
	  })
	}

	function showOption(option) {
	  return option.requiredState == null || option.requiredState(state)
	}

	function selectOption(option) {
	  const nextTextNodeId = option.nextText
	  if (nextTextNodeId <= 0) {
		return startGame()
	  }
	  state = Object.assign(state, option.setState)
	  showTextNode(nextTextNodeId)
	}

	const textNodes = [
	  {
		id: 1,
		text: 'What is an container?',
		options: [
		  {
			text: 'Packages of software that contain all of the necessary elements to run in any environment.',
			setState: { blueGoo: true },
			nextText: 2
		  },
		  {
			text: 'An object that can be used to hold or transport something.',
			nextText: 2
		  }
		]
	  },
	  {
		id: 2,
		text: 'You venture forth in search of answers to where you are when you come across a merchant.',
		options: [
		  {
			text: 'Trade the goo for a sword',
			requiredState: (currentState) => currentState.blueGoo,
			setState: { blueGoo: false, sword: true },
			nextText: 3
		  },
		  {
			text: 'Trade the goo for a shield',
			requiredState: (currentState) => currentState.blueGoo,
			setState: { blueGoo: false, shield: true },
			nextText: 3
		  },
		  {
			text: 'Ignore the merchant',
			nextText: 3
		  }
		]
	  },
	  {
		id: 3,
		text: 'After leaving the merchant you start to feel tired and stumble upon a small town next to a dangerous looking castle.',
		options: [
		  {
			text: 'Explore the castle',
			nextText: 4
		  },
		  {
			text: 'Find a room to sleep at in the town',
			nextText: 5
		  },
		  {
			text: 'Find some hay in a stable to sleep in',
			nextText: 6
		  }
		]
	  },
	  {
		id: 4,
		text: 'You are so tired that you fall asleep while exploring the castle and are killed by some terrible monster in your sleep.',
		options: [
		  {
			text: 'Restart',
			nextText: -1
		  }
		]
	  },
	  {
		id: 5,
		text: 'Without any money to buy a room you break into the nearest inn and fall asleep. After a few hours of sleep the owner of the inn finds you and has the town guard lock you in a cell.',
		options: [
		  {
			text: 'Restart',
			nextText: -1
		  }
		]
	  },
	  {
		id: 6,
		text: 'You wake up well rested and full of energy ready to explore the nearby castle.',
		options: [
		  {
			text: 'Explore the castle',
			nextText: 7
		  }
		]
	  },
	  {
		id: 7,
		text: 'While exploring the castle you come across a horrible monster in your path.',
		options: [
		  {
			text: 'Try to run',
			nextText: 8
		  },
		  {
			text: 'Attack it with your sword',
			requiredState: (currentState) => currentState.sword,
			nextText: 9
		  },
		  {
			text: 'Hide behind your shield',
			requiredState: (currentState) => currentState.shield,
			nextText: 10
		  },
		  {
			text: 'Throw the blue goo at it',
			requiredState: (currentState) => currentState.blueGoo,
			nextText: 11
		  }
		]
	  },
	  {
		id: 8,
		text: 'Your attempts to run are in vain and the monster easily catches.',
		options: [
		  {
			text: 'Restart',
			nextText: -1
		  }
		]
	  },
	  {
		id: 9,
		text: 'You foolishly thought this monster could be slain with a single sword.',
		options: [
		  {
			text: 'Restart',
			nextText: -1
		  }
		]
	  },
	  {
		id: 10,
		text: 'The monster laughed as you hid behind your shield and ate you.',
		options: [
		  {
			text: 'Restart',
			nextText: -1
		  }
		]
	  },
	  {
		id: 11,
		text: 'You threw your jar of goo at the monster and it exploded. After the dust settled you saw the monster was destroyed. Seeing your victory you decide to claim this castle as your and live out the rest of your days there.',
		options: [
		  {
			text: 'Congratulations. Play Again.',
			nextText: -1
		  }
		]
	  }
	]

	startGame()	
  </script>

</html>