<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CSEducationGame</title>
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<style>
body {
font-family: Arial;
}

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Form</title>
</head>
<body>
<!-- Navigation Bar -->
<div class="topnav">
    <ul>
      <a class="active" href="http://127.0.0.1:5000/">HOME</a>
      <a href="http://127.0.0.1:5000/register">REGISTER</a>
      <a href="http://127.0.0.1:5000/login">LOGIN</a>
	  <a href="http://127.0.0.1:5000/createquestion">CREATE QUESTION</a>
     <a href="http://127.0.0.1:5000/play">GAME</a>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">PUZZLE</a>
      <div class="dropdown-content">
        <a href="http://127.0.0.1:5000/puzzles">Puzzle Library</a>
        <a href="http://127.0.0.1:5000/createpuzzle">Create a Puzzle</a>
      </div>
    </li>
    </ul>
</div>
<form method = "post" action='#'>

<h2><center><u>Question Creation Form</u></center></h2>
<p><center>Enter a Multiple Choice Question with 4 Possible Answers. Make sure to put the Correct Answer Option in the right location!</center></p>

  <div class="container">
    <label for="question"><b>Question</b></label>
    <input type="text" placeholder="Enter Question" name="question" required>

    <label for="option1"><b>Option 1</b></label>
    <input type="text" placeholder="Possible Answer Choice 1" name="mco1" required>

    <label for="option2"><b>Option 2</b></label>
    <input type="text" placeholder="Possible Answer Choice 2" name="mco2" required>
	
	<label for="option3"><b>Option 3</b></label>
    <input type="text" placeholder="Possible Answer Choice 3" name="mco3" required>

    <label for="answer"><b>Correct Answer</b></label>
    <input type="text" placeholder="Correct Answer Choice" name="answer" required>

    <button type="submit">Create Question</button>
  </div>

</body>
</html>




  