<!DOCTYPE html>
<html lang="en">
<style>
.game_box{
width: 500px;
height: 300px;
border: 1px solid black;
margin: 0;
padding: 0;
}

.controls_box{
width: 400px;
height: 200px;
border: 1px solid black;
margin: 0;
padding: 0;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Game Page</title>
</head>
<body>
<center>
        <button onclick="window.location.href = 'index.html';">GO BACK</button>

<h3>This is where the game will be!</h3>
    <div class="game_box">

        <b>GAME</b>

    </div>
    <br>
    <div class="controls_box"><u>FILLER TEXT FOR CONTROLS</u>
    <br>
        W = UP
        <br>
        A = LEFT
        <br>
        S = DOWN
        <br>
        D = RIGHT
        <br>
        


    </div>

</center>
</body>
</html>