<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CSEducationGame</title>
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<style>
body {
font-family: Arial;
}

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Form</title>
</head>
<body>
<!-- Navigation Bar -->
<div class="topnav">
    <ul>
      <a class="active" href="http://127.0.0.1:5000/">HOME</a>
      <a href="http://127.0.0.1:5000/register">REGISTER</a>
      <a href="http://127.0.0.1:5000/login">LOGIN</a>
	  <a href="http://127.0.0.1:5000/createquestion">CREATE QUESTION</a>
     <a href="http://127.0.0.1:5000/play">GAME</a>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">PUZZLE</a>
      <div class="dropdown-content">
        <a href="http://127.0.0.1:5000/puzzles">Puzzle Library</a>
        <a href="http://127.0.0.1:5000/createpuzzle">Create a Puzzle</a>
      </div>
    </li>
    </ul>
</div>
<form method = "post" action='#'>

<h2><center><u>Registration Form</u></center></h2>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="accname" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="accpass" required>

    <label for="password"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="confpass" required>

    <button type="submit">Register</button>
  </div>

</body>
</html>