<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">

<style>
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>

<body>

<!-- Navigation Bar -->
<div class="topnav">
    <a class="active" href="#home">HOME</a>
    <a href="#registerpage">REGISTER</a>
    <a href="#loginpage">LOGIN</a>
    <a href="#puzzle">PUZZLE</a>
  </div>

<!-- Main Page -->	
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">CS Education Game</h1>
    <p>A Game for Studying Computer Science</p>
    <button>PLAY NOW</button>
  </div>
</div>


</body>
</html>