<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CSEducationGame</title>
<link rel="stylesheet" href="style.css">
</head>
<style>
body {
font-family: Arial;
}

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Form</title>
</head>
<body>
    <!-- Navigation Bar -->
<div class="topnav">
    <a class="active" href="#home">HOME</a>
    <a href="#registerpage">REGISTER</a>
    <a href="#loginpage">LOGIN</a>
    <a href="#puzzle">PUZZLE</a>
    <a href="#game">GAME</a>
  </div>

<form method = "post" action='#'>

<h2><center><u>Registration Form</u></center></h2>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="accname" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="accpass" required>

    <label for="password"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="confpass" required>

    <button type="submit">REGISTER</button>
  </div>

</body>
</html>